<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-secondary">
      <% current_user. %>
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>

<script>
  const toastLiveExample = document.getElementById('liveToast')

  const toast = new bootstrap.Toast(toastLiveExample)

  toast.show()

</script>